octodns==1.11.0
octodns-azure==0.0.9
octodns-bind==1.0.0
octodns-cloudflare==0.0.9
octodns-constellix==0.0.5
octodns-digitalocean==0.0.2
octodns-dnsimple==0.0.3
octodns-dnsmadeeasy==0.0.5
octodns-dyn==0.0.1
octodns-easydns==0.0.1
octodns-edgedns==0.0.4
octodns-edgecenter==0.0.3
octodns-etchosts==0.0.2
octodns-gandi==0.0.3
octodns-gcore==0.0.4
octodns-googlecloud==0.0.3
octodns-hetzner==0.0.2
octodns-mythicbeasts==0.0.1
octodns-ns1==0.0.7
octodns-ovh==0.0.2
octodns-powerdns==0.0.7
octodns-rackspace==0.0.1
octodns-route53==0.0.7
octodns-selectel==0.99.4
octodns-transip==0.0.4
octodns-ultra==0.0.3
