-e git+https://github.com/octodns/octodns@355995daddb37e1286d88f5a92bb5be4736fa120#egg=octodns
octodns-azure==0.0.1
octodns-cloudflare==0.0.1
octodns-constellix==0.0.1
octodns-digitalocean==0.0.1
octodns-dnsimple==0.0.1
octodns-dnsmadeeasy==0.0.1
octodns-dyn==0.0.1
octodns-easydns==0.0.1
octodns-edgedns==0.0.1
octodns-etchosts==0.0.1
octodns-gandi==0.0.1
octodns-gcore==0.0.1
octodns-googlecloud==0.0.1
octodns-hetzner==0.0.1
octodns-mythicbeasts==0.0.1
octodns-ns1==0.0.1
octodns-powerdns==0.0.1
octodns-route53==0.0.2
