jobs:
  Publish:
    name: Publish ${{matrix.flavor}}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-qemu-action@v3
      with:
        platforms: arm64,arm
    - uses: docker/setup-buildx-action@v3
      with:
        platforms: linux/amd64,linux/arm64
    - id: meta
      name: create metadata (tags and labels)
      uses: docker/metadata-action@v5
      with:
        flavor: latest=false
        images: octodns/${{matrix.flavor}}
        labels: org.opencontainers.image.documentation=https://github.com/octodns/octodns#readme
          org.opencontainers.image.licenses=MIT
        tags: type=raw,value={{date 'YYYY.MM'}} type=raw,value=latest,enable={{is_default_branch}}
    - name: login to docker.io registry
      uses: docker/login-action@v3
      with:
        password: ${{ secrets.DOCKER_PASSWORD }}
        registry: docker.io
        username: octodns
    - name: build & push image for all supported platforms
      uses: docker/build-push-action@v6
      with:
        build-args: OCTODNS_FLAVOR=${{ matrix.flavor }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
        context: all
        labels: ${{ steps.meta.outputs.labels }}
        platforms: linux/amd64,linux/arm64
        push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        tags: ${{ steps.meta.outputs.tags }}
    strategy:
      matrix:
        flavor:
        - azure
        - bind
        - cloudflare
        - constellix
        - digitalocean
        - dnsimple
        - dnsmadeeasy
        - dyn
        - easydns
        - edgecenter
        - edgedns
        - etchosts
        - gandi
        - gcore
        - googlecloud
        - hetzner
        - mythicbeasts
        - ns1
        - octodns
        - ovh
        - powerdns
        - rackspace
        - route53
        - selectel
        - transip
        - ultra
name: Publish to Docker Hub
'on':
  push:
    branches:
    - main
    - github-actions
    - multiarch
  workflow_dispatch: {}
